@model CalendarMvcWebApplication.ViewModel.EventViewModel
<div class="event">
    <div id="modal-1" class="modal">
        <span class="modal-close">
            <svg viewbox="0 0 40 40">
                <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
            </svg>
        </span>
        <div>
            Время: <input class="form-control" type="time" data-val-required="Необходимо указать время" asp-for="@Model.Date" asp-format="{0:HH:mm}" name="inputTime" />
        </div>
        <div>
            Заметка: <input class="form-control" type="text" asp-for="@Model.Name" name="inputNote" />
        </div>
        <form asp-controller="Home" asp-action="SubmitNote" method="post">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <input type="hidden" name="time" value=@Model.Date />
            <input type="hidden" name="note" value=@Model.Name />
        </form>
    </div>
  @Model.Date.ToString("HH:mm")<br />
  @Model.Name
</div>